PORT=8001
NODE_ENV=development
MONGODB_URI=

FRONTEND_ORIGIN=http://localhost:5173
BACKEND_ORIGIN=http://localhost:8001
JWT_SECRET=jwt_secret_key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=jwt_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=7d

BASE_API=/api/v1

RESEND_API_KEY=
MAILER_SENDER=

MAIL_USER=
MAIL_PASSWORD=